@import "./base.css";


main {
    width: 100%; /* Largeur de la grille avec marge extérieure */
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
    background-color: rgba(255, 0, 0, 0.06);
}

section {
    grid-column: 2 / 14;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        padding: 20px 20px;
    }

    #app {
        display: flex;
        width: 100%;
    }
}
